[submodule "themes/dracula"]
	path = themes/dracula
	url = https://github.com/dracula/xcode.git
[submodule "themes/WWDC2016-Xcode-Color-Scheme"]
	path = themes/WWDC2016-Xcode-Color-Scheme
	url = https://github.com/cargath/WWDC2016-Xcode-Color-Scheme.git
[submodule "themes/one-dark"]
	path = themes/one-dark
	url = https://github.com/bojan/xcode-one-dark.git
[submodule "themes/WWDC17-Xcode-Theme"]
	path = themes/WWDC17-Xcode-Theme
	url = https://github.com/mozharovsky/WWDC17-Xcode-Theme.git
[submodule "themes/Candy"]
	path = themes/Candy
	url = https://github.com/candy7/Xcode-Theme-Color.git
[submodule "themes/zen-and-art"]
	path = themes/zen-and-art
	url = https://github.com/irfn/zen-and-art.git
[submodule "themes/nord"]
	path = themes/nord
	url = https://github.com/arcticicestudio/nord-xcode.git
[submodule "themes/WashedOut"]
	path = themes/WashedOut
	url = https://github.com/hollance/WashedOut.git
[submodule "themes/MaterialTheme"]
	path = themes/MaterialTheme
	url = https://github.com/sasikiran/Material-Theme-for-Xcode.git
[submodule "themes/base16-ocean"]
	path = themes/base16-ocean
	url = https://github.com/eliperkins/base16-Ocean-Xcode-Theme.git
[submodule "themes/Flat"]
	path = themes/Flat
	url = https://github.com/etsushisa/Flat-Theme-Xcode.git
[submodule "themes/solarized"]
	path = themes/solarized
	url = https://github.com/zacbir/solarized-xcode.git
[submodule "themes/Handcrafted"]
	path = themes/Handcrafted
	url = https://github.com/jpedroso/color-themes.git
[submodule "themes/Railscasts"]
	path = themes/Railscasts
	url = https://github.com/petejkim/railscasts_xcode_color_theme.git
[submodule "themes/DullDark"]
	path = themes/DullDark
	url = https://github.com/indragiek/xcode-themes.git
[submodule "themes/Iceberg"]
	path = themes/Iceberg
	url = https://github.com/cocopon/xcode-iceberg.git
[submodule "themes/rainglow"]
	path = themes/rainglow
	url = https://github.com/rainglow/xcode.git
[submodule "themes/Darkloud"]
	path = themes/Darkloud
	url = https://github.com/jameswomack/XCode-Themes.git
[submodule "themes/Taskworld"]
	path = themes/Taskworld
	url = https://github.com/kindraywind/xcode-themes.git
[submodule "themes/seoul256"]
	path = themes/seoul256
	url = https://github.com/jeongjoonl/seoul256-Xcode.git
[submodule "themes/ANODA"]
	path = themes/ANODA
	url = https://github.com/anodamobi/AnodaXCodeColorTheme.git
[submodule "themes/Amoyly"]
	path = themes/Amoyly
	url = https://github.com/Br1an6/Amoyly-Xcode-Themes
[submodule "themes/monokai-revisited"]
	path = themes/monokai-revisited
	url = https://github.com/halcyonmobile/xcode-monokai-revisited.git
[submodule "themes/Sundell"]
	path = themes/Sundell
	url = https://github.com/JohnSundell/XcodeTheme.git
[submodule "themes/lucario"]
	path = themes/lucario
	url = https://github.com/raphamorim/lucario.git
[submodule "themes/spacegary"]
	path = themes/spacegary
	url = https://github.com/zdne/spacegray-xcode.git
[submodule "themes/OceanicNext"]
	path = themes/OceanicNext
	url = https://github.com/dmcrodrigues/Oceanic-Next-Xcode-Theme.git
[submodule "themes/GapStyle"]
	path = themes/GapStyle
	url = https://github.com/gaplo917/GapStyle.git
[submodule "themes/CharmedDark"]
	path = themes/CharmedDark
	url = https://github.com/CypherPoet/charmed-dark-xcode-theme.git
[submodule "themes/Ciapre"]
	path = themes/Ciapre
	url = https://github.com/vinhnx/Ciapre-Xcode-theme.git
